
<!DOCTYPE html> 
<html> 
  
<head> 
    <title>CSV FILE UPLOAD DEMO</title> 
</head> 
  
<body> 
    <h1>Single CSV file Upload Demo</h1> 
   
    <form action="/uploadCSV" 
      enctype="multipart/form-data" method="POST"> 
      
        <span>Upload csv file with users data:</span>   
        <input type="file" name="usersdata" required/> <br> 
        <input type="submit" value="submit">  
    </form> 
</body> 
  
</html> 